<%= render 'layouts/header' %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="challenge_form">
        <%= render 'shared/challenge_form' %>
      </section>
    </aside>
    <div>
      <h3>Challenge Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<script type="text/javascript">
$(document ).ready(function() {
  $("#img").backstretch("assets/background.png");
});
</script>
<div style="clear:both"></div>
<div id="img">
  <div class="h1">I'm a description</div>
    <div class="h2">I'm also a description</div>
</div>
<div id="content">
  <div class="h1">I'm a description</div>
<div class="icondes">
  <div class="icondes-left">
      <img src="assets/money1.png" alt="" title="" /><br/><br/><br/>
        <div class="h2">Gain Money</div><br/>
        <div>so cool ooo<br/>soufsuohfsdouh</div>
    </div>
    
    <div class="icondes-right">
      <img src="assets/date1.png" alt="" title="" /><br/><br/><br/>
        <div class="h2">Time whaaa</div><br/>
        <div>woah aofuhoufhsdouhfosudh><br/>soufsuohfsdouh</div>
    </div>

<div style="clear:both"></div>
<br/><br/>
<%= link_to "SIGN UP TODAY", signup_path, id:"sign-up-bottom" %>
<br/>
</div>
</div>
<% end %>	