
<% if logged_in? %>



<body>
<%= render 'layouts/secondheader' %>
    <!-- challenge feed -->
    <div>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<%= render 'layouts/header' %>
<script type="text/javascript">
$(document ).ready(function() {
  $("#img").backstretch(/assets/background.png);
});
</script>
<div style="clear:both"></div>
<div id="img">
  <div class="h1">Your Challenge Network</div>
    <div class="h2">Earn Money/Points with Friends while Challenging Yourself</div>
    
</div>
<div id="content">
  <div class="h1">How does Challenges work?</div>
<div class="icondes">
  <div class="icondes-left">
      <%= image_tag("money1.png") %>
      <br/><br/><br/>
        <div class="h2">Create Challenges</div><br/>
        <div>Set a challenge with friends and monitor each other's progress</div>
    </div>
    
    <div class="icondes-right">
      <%= image_tag("date1.png") %>

      <br/><br/><br/>
        <div class="h2">Earn Money/Points</div><br/>
        <div>When the set day arrives, whomever completes the challenge wins the money/points</div>
    </div>

<div style="clear:both"></div>
<br/><br/>
<%= link_to "SIGN UP TODAY", signup_path, id:"sign-up-bottom" %>
<br/>
</div>
</div>
<%= render 'layouts/footer' %>
<% end %>	
