<%= render 'layouts/header' %>
<%= @user.name %>, <%= @user.email %>
<%= gravatar_for @user %>
<div class="col-md-8">
    <% if @user.challenges.any? %>
      <h3>Challenges (<%= @user.challenges.count %>)</h3>
      <ol class="challenges">
        <%= render @challenges %>
      </ol>
      <!-- <%= @challenges %> -->
    <% end %>
  </div>