<div id="content">
<div class="event">
      
<% if current_user?(challenge.users.first) %>
<span> Did you ...  </span>
<% else %>
<div class="usericon" style= background:url(<%= gravatar_url challenge.users.first %>)>
</div>
<%= link_to challenge.users.first.name, challenge.users.first %>

<% end %>
      <span class="event-detail"> <%= challenge.task %></span> 
      <% if current_user?(challenge.users.first) %>
      <br>
        <input type="button" value="Yes" class="btn-yes"/>
          <input type="button" value="No" class="btn-no"/>
      <% end %>
      <div class="event-meta">
          <span class="money"><%= challenge.money %> </span>
          <span class="date">3 days left</span>
          <span class="progress">Completed 3/20 days</span>
      </div>
      <% challenge.users.each do |user| %>
        <div class="small-usericon" style= background:url(<%= small_gravatar_url user %>)>
        </div>
      <% end %>
</div><div style="clear:both"></div><br><br></div>