<li><%= challenge.title %><%= challenge.task %>
<%= challenge.users.count %><span>End Date is <%= challenge.endDate %> </span>
  <span>Amount is <%= challenge.money %> </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(challenge.created_at) %> ago.
    <% challenge.users.each do |user| %>
      <%= gravatar_for user %>
    <% end %>
  </span>
</li>