<div id="content">
<div class="event">
      
<div class="usericon" style= background:url(<%= gravatar_url challenge.users.first %>)>
</div>
      <%= link_to challenge.users.first.name, challenge.users.first %>
      <span class="event-detail"> <%= challenge.task %></span> 
      <div class="event-meta">
          <span class="money"><%= challenge.money %> </span>
          <span class="date">3 days left</span>
          <span class="progress">Completed 3/20 days</span>
      </div>
      <% challenge.users.each do |user| %>
        <div class="small-usericon" style= background:url(<%= small_gravatar_url user %>)>
        </div>
      <% end %>
</div><div style="clear:both"></div><br><br></div>